<div class="row filters">
  <div class="inner">
    <div class="basic-filters left-pane">

      <div>
        <span><h3>
          Sync status : Online = {{syncStatus.isOnline}}. Needs to send {{syncStatus.numChangesToSend}} changes. Needs to fetch {{syncStatus.numChangesToFetch}} changes.
          <a ng-click="refreshSyncStatus()" ng-attr-title="{{'Refresh sync status' | translate}}">
            <i class="fa fa-undo"></i>
          </a>
          </h3>
        </span>
      </div>
    </div>

    <div class="right-pane navigation">
      <span ng-show="cancelCallback" class="filter-bar-back">
        <a ng-click="cancel()">
          <span class="fa fa-times" title="{{'Back' | translate}}"></span>
        </a>
      </span>
      <span ng-hide="cancelCallback" class="filter-bar-back">
        <a ng-click="closeContentPane()">
          <span class="fa fa-chevron-left" title="{{'Close' | translate}}"></span>
        </a>
      </span>
      <h2>{{title}}</h2>
    </div>
  </div>
</div>
